*{
    margin: 0;
    padding: 0;
}

/* fonts */


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.color1{color:rgb(78, 71, 255);}
.dark{
    color: rgba(0, 0, 0, 0.5);
}



body{
    background-color: #4d47ff09;
}


/* header */

nav{
    background-image: url("../Assets/Hero-bg.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 698px;
}


/* navigation */

.title{
    display: flex;
    justify-content: space-between;
    padding-top: 63.5px;
}

.sign-in-button{
    color: white;
    background-color: rgb(78, 71, 255);
    width: 132px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 150px;
    border: none;
}

.logo{
    font-size: 34px;
    font-weight: 900;
    margin-left: 150px;
}

.banner-heading{
    display: flex;
    justify-content: center;
}


.banner-title{
    font-size: 65px;
    margin-top: 158px;
    text-align: center;
    font-weight: bold;
}

.focus-button{
    display: flex;
    justify-content: center;
    margin-top: 37px;

}

.focus{
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 12px 36px;

}

/* main */

/* action */

.action{
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

.action-content{
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
}

.action-left{margin-top: 62.5px;}

.action-heading{
    font-size: 42px;
    font-weight: bold;
}

.action-dis{
    font-size: 24px;
    font-weight: 400;
    margin-top: 23px;
}

.action-btn{
    margin-top: 23px;
    color: white;
    background-color: #4E47FF;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

.action-img{
    height: 100%;
    border-radius: 48px;
}

/* productive-section */

.productive{
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

.productive-content{
    height: 306px;
    width: 1140px;
    background-color: rgba(77, 71, 255, 0.1);
    border-radius: 24px;
}

.productive-title{
    text-align: center;
    margin-top: 50px;
    font-size: 38px;
    font-weight: bold;
}

.productive-analytics{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.analytics-percent{
    text-align: center;
}

.analytics-num{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}

.analytics-dis{
    font-size: 20px;
    font-weight: 400;
}

/* review */

.review{
    display: flex;
    justify-content: center;
    margin-top: 137px;
}

.review-content{
    height: 342px;
    width: 1140px;
}

.review-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.review-card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card{
    height: 243px;
    width: 366.67px;
    border-radius: 14px;
    box-shadow: 6px 6px 50px 0px rgba(0, 0, 0, 0.07);
}

.stars{
    margin: 24px 0 24px 24px;
}

.card-texts{
    margin-left: 24px;
}

.card-heading{
    font-size: 24px;
    font-weight: 600;
}

.card-dis{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    color: #1E1E1E;

}

.reviewer{
    display: flex;
    margin-left: 24px;
    margin-top: 24px;
}

.avater{
    height: 40px;
    width: 40px;
    border-radius: 360px;
}

.avater-info{
    margin-left: 12px;
}

.avater-name{
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    line-height: 140%;
}

.avater-date{
    margin-top: 2px;
}


/* focus-section */

.focus-sec{
    display: flex;
    justify-content: center;
    margin-top: 137px;
}

.focus-banner{
    width: 1140px;
    height: 696.77px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 14px;
}

.focus-title{
    text-align: center;
    margin-top: 71px;
    font-size: 50px;
    font-weight: bold;
}

